<li class="text input optional" id="block_body_input">
  <label for="block_body" class="label">Body</label>

  <textarea rows="20" id="block_body" name="block[body]" spellcheck="false"></textarea>
</li>
<script>
  new FroalaEditor('textarea#block_body')
</script>
