<li class="text input optional" id="page_body_input">
  <label for="page_body" class="label">Body</label>

  <textarea rows="20" id="page_body" name="page[body]" spellcheck="false"></textarea>
</li>
<script>
  new FroalaEditor('textarea#page_body')
</script>
