<%if @jumbotron.exists?%>
  <% @jumbotron.each do |block|%>
  <%if params[:controller] == "home"%>
    <%if block.display == "home" || block.display == "all"%>
      <div class="jumbotron">
        <div class="container">
          <%if block.show_title==true%>
            <h1 class="display-3"><%= block.title %></h1>
          <%end%>
          <p><%=raw block.body %></p>
        </div>
      </div>
    <% end%>
  <%else%>
    <%if block.display != "home"%>
      <div class="jumbotron">
        <div class="container">
          <%if block.show_title==true%>
            <h1 class="display-3"><%= block.title %></h1>
          <%end%>
          <p><%=raw block.body %></p>
        </div>
      </div>
    <% end%>
  <%end%>
  <%end%>
<%end%>
